 @keyframes scroll-horizontal {
       0% {
             transform: translateX(0);
       }

       100% {
             transform: translateX(-50%);
       }
 }

 .scroll-animation {
       width: max-content;
       animation: scroll-horizontal 20s linear infinite;
 }